{{!< main}}

<div id="map" style="width: 1000px; height: 1000px; border: 5px solid #ffffff; border-radius: 10px;"></div>
<script>
    
    const mapOptions = {
        center: [51.9189046,19.1343786],
        zoom: 7,
        worldCopyJump: true,
    }

    const map = new L.map('map', mapOptions);
    const layer = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');
    map.addLayer(layer);

    let points = [];
    let markers = [];

    async function addMarkersToMap() {
        const zoom = map.getZoom();

        try {
            // Get points from the server
            points = await fetch(`locations/getPoints/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    zoom: map.getZoom(),
                })
            })
            const data = await points.json();

            // Add new markers to the map
            data.forEach(point => {
                const marker = L.marker([point.latitude, point.longitude]).addTo(map);
                markers.push(marker);
            });

        } catch (error) {
            console.log(error)
        }
    }

    function refreshMap() {
        // Remove all markers from the map
        markers.forEach(marker => {
            map.removeLayer(marker);
        });
        markers = [];

        // Refresh the map
        addMarkersToMap();
    }

    addMarkersToMap();
    
    map.on('zoomend', refreshMap);
    </script>

